<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?cocktail);">
  <div class="container">
    <h1>Find the best cocktails to <strong>get wasted</strong>!</h1>
    <p>From appletinis to jägerbombs...</p>
  </div>
</div>
